<ul class="comment-section">
  <li class="comment user-comment">
    <p>Suspendisse gravida sem?</p>
  </li>
  <li class="comment user-comment">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida sem sit amet molestie portitor.</p>
  </li>

  <li class="comment author-comment">
    <div class="info">
      <span>1 hour ago</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisee gravida sem sit amet molestie porttitor.</p>
  </li>
  <li class="write-new">
      <textarea id="comment-text" placeholder="Write your comment here"></textarea>
      <div>
        <button type="submit">Submit</button>
      </div>
  </li>
</ul> 

